.search-row{
    padding: 10px;
    background: rgba(126, 166, 147, 0.5);
    border-radius: 5px;
    align-items: center;
    padding-right: 2%;
}


select#exampleFormControlSelect1 {
    border-radius: 5px;
}
button.btn.btn-danger.wrn-btn {
    border-radius: 5px;
    margin-left: 10%;
}
.btn-danger {
    color: #fff;
    background-color: #5F9EA0;
    border-color: #5F9EA0;
}
.btn-danger:hover {
    color: #fff;
    background-color: #2E8B57;
    border-color: #2E8B57;
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
     box-shadow: none;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #5F9EA0; 
     border-color: #5F9EA0;
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color:#5F9EA0; 
     border-color:#5F9EA0; 
    box-shadow: none; 
}
.css-1uccc91-singleValue {
    height: 5vh;
    width: 80%;
   
}
.css-1pahdxg-control {
    max-height: 38px;  
     width: 95%;
   padding-bottom: 5%;
   margin-left: 4%;
}
input.form-control.search-slt {
    border-radius: 4px;
    margin-right: 4%;
    color: hsl(0,0%,50%);
}

input[type=text], [type=number], [type=date] {
    width: 95% !important;
    margin-left: 4% !important;
}
.css-b8ldur-Input {
    margin: 2px;
    padding-bottom: 4%;
    padding-top: 0%;
}
.css-yk16xz-control {
    height: 1vh;
}