.css-yk16xz-control {
    margin-left: 3%;
}
.css-1okebmr-indicatorSeparator {
    max-height: 2vh;
    background-color:white !important;   
}

.css-yk16xz-control {
    height: 5vh;
}
.css-tlfecz-indicatorContainer {
    margin-bottom: 18%;
    
}
.css-1wa3eu0-placeholder {
 
    top: 35% !important;
}
svg.css-6q0nyr-Svg {
    margin-bottom: 35%;
}